<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
        </ul>
          <img class="center-block img-responsive wolf" src="<%= asset_path 'noblewolf.png' %>">
        <hr>
        <p>Copyright &copy; NobleWolf 2014</p>
      </div>
    </div>
  </div>
</footer>