<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
<!-- 		    <li><%= link_to "About",   '#' %></li> -->
<!-- 	    	<li><%= link_to "Contact", '#' %></li> -->
        </ul>
        <div class="top-scroll">
          <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
        </div>
        <hr>
        <p>Copyright &copy; Company 2013</p>
      </div>
    </div>
  </div>
</footer>